<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Today Feedback - Diary App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        .feedback-quote,  .diary-content{
            font-family: "Jua", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size:20pt;
}


    </style>
</head>
<body>
    <header>
        <h1>오늘의 피드백</h1>
        <a href="/" class="home-button">🏠 홈으로</a>
    </header>
    <main>
        <section id="feedback-section">
            <p><strong>오늘의 피드백:</strong></p>
            <p class="feedback-quote"> {{ quote }}</p><br>
            {% if diary %}
                <div class="diary-entry">
                    <p class="diary-date">{{ diary.date }}</p>
                    <p class="diary-content">{{ diary.content }}</p>
                </div>
            {% else %}
                <p>일기가 없습니다.</p>
            {% endif %}
        </section>
    </main>
</body>
</html>
